/* .....................................Typography background color, brand color, general top margin */

body {
	font-family: 'Roboto', sans-serif;
	background-color: #e2e2e2;
}

.color-brand {
	color: #ffc107;
}

.lawyers-mt {
	margin-top: 100px;
}


/* .....................................Our Team Cards */

.card-img-top {
	width: 100%;
	height: 55vw;
	object-fit: cover;
}

.card {
	position: relative;
	margin-top: 5%;
	padding: 1%;
	background-color: #e2e2e2;
}


/* .....................................General icons */

.icon-size {
	font-size: 24px;
}


/* .....................................Jumbotron */

.jumbotron {
	background-color: transparent;
	width: 70%;
}

.jumbotron h1 {
	color: white;
	margin-bottom: 30px;
}


/* .....................................Home slogan area and image */

.main-container {
	height: 100vh;
	background: url('../images/lighthouse.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}


/* .....................................Practise area main image area */

.main-container-practise-area {
	height: 60vh;
	background: url('../images/meeting2.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
/* shadow in text in practise area */

.shadow-text {
	text-shadow: 1px 1px #ffc107;
}

/* images size in practise area */

.img-size {
	width: 40%;
	height: 40%;
}


/* .....................................Contact Us main image */

.main-container-contactUs {
	height: 60vh;
	background: url('../images/telephone2.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}


/* .....................................Google Maps */

.iframe-container {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Media query to size properly on the mobile phone size*/

@media only screen and (max-width: 280px) {
	/* Home main text in small device */
	.display-4 {
		padding-top: 10%;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.2;
		margin: 25%;
	}
	.navbar-brand {
		font-size: 1rem;
		margin-left: 0;
		padding-left: 0;
	}
	.navbar-text {
		font-size: x-small;
	}
	.card-title {
		font-size: small;
	}
	.card-text {
		font-size: x-small;
	}
	.img-size {
		height: 60vh;
		width: 25px;
	}
	.title-size {
		font-size: larger;
	}
	iframe {
		width: auto;
		height: 50px;
	}
}

@media only screen and (max-width: 320px) {
	.navbar-text {
		font-size: x-small;
	}
	.card-img-overlay {
		font-size: 1rem;
	}
	.title-size {
		font-size: large;
	}
}

@media only screen and (max-width: 600px) {
	.display-4 {
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.2;
		margin: 0 auto;
		padding-bottom: 10%;
	}
	.card-img-overlay {
		font-size: 1rem;
	}
	.card-img-top {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.title-size {
		margin-top: 2%;
		font-size: 22px;
	}
}

@media(min-width: 750px) {
	.display-4 {
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 1.2;
		margin: 0 auto;
		padding-bottom: 10%;
	}
	/* background text in Home  */
	.background-free {
		background-color: #ffc107;
		width: 50%;
		opacity: 0.6;
		margin: 0 auto;
		color: black;
	}
	.card-img-top {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.card-title {
		font-size: x-large;
	}
	.card-text {
		font-size: large;
	}
	.lawyers-mt {
		margin-top: 60px;
	}
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
	.navbar-text {
		font-size: x-large;
	}
	.lawyers-mt {
		margin-top: 80px;
	}
	.card-title {
		font-size: large;
	}
	.card-text {
		font-size: medium;
	}
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	.navbar-text {
		font-size: large;
	}
	.card-img-top {
		width: 100%;
		height: 35vw;
		object-fit: cover;
	}
	.card-title {
		font-size: large;
	}
	.card-text {
		font-size: medium;
	}
}


/* // Extra-Extra large devices (Extra-large desktops, 1400px and up) */

@media (min-width: 1400px) {
	.navbar-text {
		font-size: large;
	}
	.card-img-top {
		width: 100%;
		height: 25vw;
		object-fit: cover;
	}
}